<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>亲：</p>
    <p>感谢您为小蚁的“比特币遇上冰桶挑战”活动上传视频。你所上传视频的页面链接是 <%= address_url(@address) %> 对应的比特币地址是：<a href=<%= "http://blockchain.info/" + @address.address %>>http://blockchain.info/<%= @address.address %></a></p>
    <p>小蚁社区感谢你的参与，期望与你共建去中心化密码学货币社区！</p>
    <br />
    <p>小蚁官网</p>
  </body>
</html>
